<h3>New Programme</h3>

<%= form_for @week do |f| %>
  <div class="input_date">
    <%= f.label :start_date %>
    <%= f.text_field :start_date, placeholder: "YYYY-MM-DD" %>
  </div>
  <div class="input_date">
    <%= f.label :end_date %>
    <%= f.text_field :end_date, placeholder: "YYYY-MM-DD" %>
  </div>

  <div class="clear"></div>

  <%= f.label :title %>
  <%= f.text_field :title, placeholder: "Leave blank to set automatically" %>

  <div class="holiday_check">
    <%= check_box_tag 'holiday_check_box', "Holidays" %>
    <%= label_tag 'holiday_check_box', "Holidays" %>
  </div>

  <hr />

  <h4>Movies</h4>

  <div id="movie_fields">
    <%= f.fields_for :movies do |movie_fields| %>
      <div class="movie <%= cycle 'one', 'two' %>">
        <%= render 'movie_fields', f: movie_fields %>
      </div>
    <% end %>
    <div class="clear"></div>
  </div>

    <%= f.fields_for :holiday do |holiday_fields| %>
      <div id="holiday_fields">
        <%= holiday_fields.label :preamble %>
        <%= holiday_fields.text_area :preamble %>
        <%= holiday_fields.label :body %>
        <%= holiday_fields.text_area :body %>
      </div>
    <% end %>

  <%= f.submit "Save" %>
<% end %>
