<h3>New Programme</h3>

<%= form_for @week do |f| %>
  <div class="date_fields clearfix">
    <div class="input_date">
      <%= f.label :start_date %>
      <%= f.text_field :start_date, placeholder: "YYYY-MM-DD" %>
    </div>
    <div class="input_date">
      <%= f.label :end_date %>
      <%= f.text_field :end_date, placeholder: "YYYY-MM-DD" %>
    </div>
  </div>


  <%= f.label :title %>
  <%= f.text_field :title, placeholder: "Leave blank to set automatically" %>

  <%= label_tag "Programme Type" %>

  <div class="week_type">
    <%= f.collection_radio_buttons :category, ['standard', 'holiday', 'announcement'], :to_s, :humanize  %>
  </div>

  <hr />

  <div id="movie_fields" class="clearfix">
    <h4>Movies</h4>
    <%= f.fields_for :movies do |movie_fields| %>
      <div class="movie <%= cycle 'one', 'two' %>">
        <%= render 'movie_fields', f: movie_fields %>
      </div>
    <% end %>
  </div>

    <%= f.fields_for :holiday do |holiday_fields| %>
      <div id="holiday_fields">
        <%= holiday_fields.label :preamble %>
        <%= holiday_fields.text_area :preamble %>
        <%= holiday_fields.label :body %>
        <%= holiday_fields.text_area :body %>
      </div>
    <% end %>

  <div id="announcement_fields" %>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <%= f.submit "Save" %>
<% end %>
