<h2>New Programme</h2>

<%= nested_form_for @week, :html => { :multipart => true } do |f| %>
  <h3>Frontmatter</h3>
  <div class="form-group clearfix"> 

    <div class="form-field top">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "Leave blank to set automatically" %>
    </div>

    <div class="form-field left gr50">
    <%= f.label :start_date %>
    <%= f.text_field :start_date, class: 'date-field'%>
    </div>

    <div class="form-field right gr50">
    <%= f.label :end_date %>
    <%= f.text_field :end_date, class: 'date-field'%>
    </div>
  </div>

  <h3>Movies</h3>

  <div id="movie-fields">
    <%= f.fields_for :movies do |movie_fields| %>
      <%= render 'movie_fields', f: movie_fields %>
    <% end %>
  </div>


  <%= f.button class: 'btn btn-submit' do %><%= fa_icon 'check' %> Save<% end %>
  <%= f.link_to_add :movies, class: 'btn btn-secondary', data: {:target => "#movie-fields"} do %><%= fa_icon 'th-list' %> Add Movie <% end %>

<% end %>
