<div class="clearfix">
  <%= f.hidden_field :view_index, value: f.object.view_index %>

  <div class="movie_title">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'movie_title_input' %>
  </div>

  <div class="movie_rating">
    <%= f.label :rating %>
    <%= f.text_field :rating, class: 'rating' %>
  </div>
  


  <div class="movie_details">
    <%= f.hidden_field :tmdb_id, class: 'tmdb_id', value: f.object.tmdb_id %>

    <%= f.label :overview %>
    <%= f.text_area :overview, class: 'overview' %>

    <%= f.label :poster_url %>
    <%= f.text_field :poster_url, class: 'poster_url' %>
  </div>


  <div class="poster_preview ">
    <%= label_tag "Poster" %>
    <%= image_tag f.object.poster.url(:normal) %>
  </div>
</div>

  <%= f.label :extra %>
  <%= f.text_field :extra %>

<div class="showing_details">
  <h5>Sessions</h5>
  <%= f.fields_for :showings do |s| %>
    <div class="showing_field">
      <%= s.hidden_field :day, value: s.object.day %>
      <%= s.hidden_field :view_index, value: s.object.view_index %>
      <%= s.label :times, s.object.day %>
      <%= s.text_field :times %>
    </div>
  <% end %>
</div>

<div class="after">
  <%= f.label :after %>
  <%= f.text_area :after %>
</div>
