<div class="form-group clearfix movie-fields" id="fields_<%=cycle('1','2')%>" >

  <div class="form-field top left gr70">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'movie-title' %>
  </div>
  <div class="form-field top right gr30">
    <%= f.label :rating %>
    <%= f.text_field :rating %>
  </div>

  <div class="form-field md left gr80 overview collapsed">
    <%= f.label :overview, "Synopsis" %>
    <%= f.text_area :overview %>
  </div>
  <div class="form-field right gr20 poster-field collapsed">
    <%= image_tag f.object.poster.url(:normal) %>
  </div>
  <div class="form-field left gr50 director collapsed">
    <%= f.label :director %>
    <%= f.text_field :director %>
  </div>
  <div class="form-field right gr50 cast collapsed">
    <%= f.label :cast %>
    <%= f.text_field :cast %>
  </div>
  <div class="form-field md gr100 extra collapsed">
    <%= f.label :extra, "Extra Information" %>
    <%= f.text_area :extra %>
  </div>

  <div class="showing-fields collapsed" id="showing-fields-<%=f.object.id%>">
    <%= f.fields_for :showings do |s| %>
      <%= s.hidden_field :day, value: s.object.day, class: 'day-field' %>
      <%= s.hidden_field :view_index, value: s.object.view_index %>
      <div class="form-field left gr30">
        <label>Day</label>
        <p class='day-label'><%= s.object.day %></p>
        <%= s.link_to_remove fa_icon('minus-square'), class: 'tooltip' %>
      </div>
      <div class="form-field right gr70">
        <%= s.label :times %>
        <%= s.text_field :times %>
      </div>
    <% end %>
  </div>

  <div class="collapsed">
    <div class="form-field gr100 add-button">
      <p><%= fa_icon 'plus' %> Add Day</p>
    </div>
    <div class="form-field gr100 hidden">
      <% ['Monday', 'Tuesday', 'Wednesday', 'Thursday'].each do |d| %>
        <%= f.link_to_add d, :showings, :'data-predefined-day' => d, :'data-target' => "#showing-fields-#{f.object.id}", class: 'day-link' %>
      <% end %>
      <a class="cancel day-link">Cancel</a>
    </div>
  </div>

  <a rel='leanModal' href="#modal<%=f.object.id%>">launch</a>
  <div class="modal" id="modal<%=f.object.id%>">
    <div class="content">
      <%= f.file_field :poster %>
      <%= f.text_field :poster_url, class: 'poster-url' %>
    </div>
  </div>

  <%= f.hidden_field :tmdb_id, class: 'tmdb-id' %>

</div>
