<div class="form-group clearfix movie-fields" id="fields_<%=cycle('1','2')%>" >

  <div class="form-field top left gr70">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'movie-title' %>
  </div>
  <div class="form-field top right gr30">
    <%= f.label :rating %>
    <%= f.text_field :rating %>
  </div>

  <div class="form-field md left gr80 overview collapsed">
    <%= f.label :overview, "Synopsis" %>
    <%= f.text_area :overview %>
  </div>
  <div class="form-field right gr20 poster-field collapsed">
    <%= image_tag f.object.poster.url(:normal) %>
    <%= f.hidden_field :poster_url %>
  </div>
  <div class="form-field left gr50 director collapsed">
    <%= f.label :director %>
    <%= f.text_field :director %>
  </div>
  <div class="form-field right gr50 cast collapsed">
    <%= f.label :cast %>
    <%= f.text_field :cast %>
  </div>
  <div class="form-field md gr100 extra collapsed">
    <%= f.label :extra, "Extra Information" %>
    <%= f.text_area :extra %>
  </div>

  <div id="showing-fields">
    <%= f.fields_for :showings do |s| %>
      <div> 
        <%= s.hidden_field :day, value: s.object.day %>
        <%= s.hidden_field :view_index, value: s.object.view_index %>
        <%= s.label :times, s.object.day %>
        <%= s.text_field :times %>
      </div>
    <% end %>
  </div>

  <div class="showing-list">
    <% ['Monday', 'Tuesday', 'Wednesday', 'Thursday'].each do |d| %>
      <%= f.link_to_add d, :showings, model_object: Showing.new(day: d), class: 'btn', data: {:target => '#showing-fields'} %>
    <% end %>
  </div>
</div>
