<div class="margin content">
  <h4>Dashboard</h4>
  <ul class="admin_week_list">
<% @weeks.each do |week| %>
  <li>
    <h3><%= link_to week.title, week_path(week) %></h3>
    <div class="details">
      <%= week.movie_titles %>
    </div>
    <%= link_to "Write Newsletter", edit_newsletter_path(week) %>
    <%= link_to "Edit", edit_week_path(week) %>
    <%= link_to "Destroy", week, method: :delete, data: { confirm: 'Remove week?'} %>
    </li>
<% end %>
</ul>
</div>
