<div class="margin content">
  <h4>Dashboard</h4>
  <%= link_to "New Newsletter", new_newsletter_path %>
  <ul class="admin_week_list">
<% @weeks.each do |week| %>
  <li>
    <h3><%= link_to week.title, week_path(week) %></h3>
    <div class="details">
      <%= week.movie_titles %>
    </div>
    <%= link_to "Newsletter", newsletter_path(week), target: '_blank' %>
    <%= link_to "Edit", edit_week_path(week) %>
    <%= link_to "Destroy", week, method: :delete, data: { confirm: 'Remove week?'} %>
    <% if week.newsletter %>
      <%= content_tag :div, "Newsletter scheduled: #{week.newsletter.send_time.strftime('%a %b %-d %Y, 8%P')}", class: 'newsletter_details' %>
    <% end %>
      
    </li>
<% end %>
</ul>
</div>
