.modal-header{style:"background-image: url('#{@movie.backdrop.url(:normal)}')"}
  .overlay
    %h3{class: 'movie-title'} #{@movie.title} (#{@movie.rating})
.modal-body
  .movie-details.clearfix
    .gr70.left
      %h4 Overview
      = @movie.overview

    .gr20.right
      - if @movie.director.present?
        %h4 Director
        %p #{@movie.director}
      - if @movie.cast.present?
        %h4 Cast
        - @movie.cast.each do |actor| 
          %li{class: 'cast'} #{actor}

