<div class="movie">
  <%= image_tag asset_host_url(movie.poster.url(:normal)), class: 'poster', 'srcset' => "#{asset_host_url(movie.poster.url(:retina))} 2x" %>
  <h3><%= movie.title %> (<%=movie.rating=%>)</h3>

  <% movie.showings.each do |s| %>
    <p><b><%= s.day %>:</b> <%= s.times %></p>
  <% end %>

  <% if movie.extra %>
    <%= content_tag :p, sanitize(markdown(movie.extra)) %>
  <% end %>

</div>
