<div class="film <%=cycle 'one', 'two', name: 'divs' %>">
  <%= image_tag asset_path(movie.poster.url(:normal)), 'data-at2x' => movie.poster.url(:retina)%>
  <h4><%= movie.title %> (<%=movie.rating=%>)</h4>
  <% if movie.extra? %><p class="extra"><%= movie.extra %></p><% end %>

  <% movie.showings.each do |s| %>
    <p><b><%= s.day.upcase %>:</b> <%= s.times %></p>
  <% end %>
</div>
