.movie
  = link_to movie, class: 'movie-link', remote: true do
    .poster
      = image_tag movie.poster.url(:normal), 
        srcset: "#{movie.poster.url(:retina)} 2x"
      .more
        #{fa_icon 'info-circle'}

    %h3 #{movie.title} (#{movie.rating})

  - movie.showings.each do |s|
    %p
      %b #{s.day}:
      #{s.times}

  - if movie.extra
    %p #{sanitize(markdown(movie.extra))}
