.movie
  = image_tag movie.poster.url(:normal), 
    class: 'poster', 
    srcset: "#{movie.poster.url(:retina)} 2x"

  %h3 #{movie.title} (#{movie.rating})

  - movie.showings.each do |s|
    %p
      %b #{s.day}&colon; 
      #{s.times}

  - if movie.extra
    %p #{sanitize(markdown(movie.extra))}
