<div class="film <%=cycle 'one', 'two', name: 'divs' %>">
    <%= image_tag asset_host_url(movie.poster.url(:normal)), class: 'poster', 'data-at2x' => asset_host_url(movie.poster.url(:retina)) %>
    <h4><%= movie.title %> (<%=movie.rating=%>)</h4>

  <%= content_tag :p, movie.extra, class: 'extra' %>

  <% newsletter ||= nil %>
  <% if newsletter.nil? %>
  <p>
    <%= link_to 'More info...', '#', class: 'toggle-overview' %>
  </p>
  <% end %>

  <div class="movie-overview">
    <%= movie.overview %>
    <%= link_to 'The Movie DB', movie.tmdb_url, target: "_blank" %>
  </div>

  <% movie.showings.each do |s| %>
    <p><b><%= s.day.upcase %>:</b> <%= s.times %></p>
 <% end %>
<% if movie.title == "The Second Best Exotic Marigold Hotel" %>
  <p><i>Extra sessions: Avoid the crush</i><br />
  <b>Monday 23rd March until Thursday  26th March</b><br />Daily at 11am and 2pm</b>
  </p>
<% end %>
</div>
