<%= nested_form_for @newsletter do |f| %>
  <div class="form-group clearfix">
    <div class="form-field top gr30 left">
      <%= f.label :send_time %>
      <%= f.date_field :send_time %>
    </div>
    <div class="form-field top gr30 left">
      <%= f.label :start_date %>
      <%= f.text_field :start_date %>
    </div>
    <div class="form-field top gr30 right">
      <%= f.label :end_date %>
      <%= f.text_field :end_date %>
    </div>
  </div>
  <%= f.fields_for :movies do |movie_fields| %>
    <%= render 'weeks/movie_fields', f: movie_fields %>
  <% end %>

  <%= f.link_to_add 'Add Movie', :movies %>


  <%= f.submit 'Save' %>
<% end %>
