%header.site-header.clearfix
  .content
    = render 'layouts/nav'

    .big-header
      %h1 #{phrase('header')}
      %p.subtitle #{phrase('subtitle')}
      
      .details
        %li
          %p.small Phone
          %p.big #{phrase('phone')}
        %li
          %p.small Address
          %p.big #{phrase('address')}
        %li
          %p.small Cost
          %p.big #{phrase('cost')}
