<div class="nav">
  <ul>
    <%= nav_link 'Session Times', root_path %>
    <%= nav_link 'About', about_path %>
    <%= nav_link 'Contact', contact_path %>
    <%= nav_link 'Newsletter', subscribe_path %>
  </ul>
</div>

<header>
  <%= retina_image_tag 'header.png', alt: 'Lake Cinema' %>
</header>

<div class="info">
  <div class="content">
    <div class="info_panel" id="phone">(02) 4958-5810</div>
    <div class="info_panel" id="address">62 Main Road<br />Boolaroo NSW</div>
    <div class="info_panel" id="price">All tickets:<br />$7</div>
  </div>
</div>
