<!DOCTYPE html>
<html>
<head>
	<title>Lake Cinema, Boolaroo &mdash; Movie session times for the Newcastle movie theatre</title>
	<meta name="description" content="Newcastle cinema session times for the latest movies at Lake Cinema, Boolaroo. Independent movie theatre located in Newcastle, Australia showing blockbuster, kids, and arthouse movies. Accurate and up to date information." />
	
  <meta name="viewport" content="user-scalable=0, initial-scale=1.0" />
  <script type="text/javascript" src="//use.typekit.net/gju7cwb.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link rel="apple-touch-icon-precomposed" href="<%= asset_path('apple_touch_icon.png')%>" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

</head>
<body>
  <% flash.each do |name, msg| %>
    <div class="flash <%= name %>"> 
      <div class="content"><%= msg %></div>
    </div>

  <% end %>
   
  <header class="page-row">
    <div class="admin_header">
	  <div class="content">

	    <div class="logo">
	      <%= link_to retina_image_tag('mobile_header.png'), admin_path %>
	    </div>
	    <div class="admin_nav">
	      <%= link_to "New week", new_week_path %>
	      <%= link_to "Back to main site", root_path %>
        <%= link_to "Logout", logout_path %>
	    </div>
	  </div>
  </div>
	</header>
  
  <div class="page-row expanded">
    <%= yield %>
  </div>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
</body>
</html>



